# Database
# DATABASE_URL="mysql://username:password@localhost:3306/resumeace_db"
DATABASE_URL="mysql://admin:admin@123@localhost:3306/resumeseeker"
#DATABASE_URL="postgresql://postgres:2213@localhost:5432/resumeseeker"

# OpenAI API
OPENAI_API_KEY="sk-proj-xxxxxxxxxxxxxxxxxxxxxxxx"

# Google API
GOOGLE_API_KEY="AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXX"

GEMINI_API_KEY="AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXX"


# Application
NEXT_PUBLIC_APP_URL="http://localhost:9004"

# Email (for password reset)
EMAIL_HOST="smtp.example.com"
EMAIL_PORT="587"
EMAIL_SECURE="false"
EMAIL_USER="your-email@example.com"
EMAIL_PASSWORD="your-email-password"
EMAIL_FROM="ResumeSeeker <noreply@resumeseeker.com>"